<div class="page" id="page">
  {% include "organisms-header" %}
  <main>
    {% block hero %}{% endblock %}
    {% block title %}{% endblock %}
    {% block main %}{% endblock %}
  </main>
  {% include "organisms-footer" %}
</div>
