<nav id="website-info">
  <ul>
    <li>Call us: <strong>(517) 355-7505</strong></li>
    <li><a href="/contact">Contact Information</a></li>
    <li><a href="/site-map">Site Map</a></li>
    <li><a href="/privacy-statement">Privacy Statement</a></li>
    <li><a href="/accessibility">Site Accessibility</a></li>
  </ul>
</nav>


<div>
  <ul>
    <li class="spartans-will">Spartans Will.</li>
    <li>&copy; Michigan State University</li>
  </ul>
</div>
