<nav id="msu-info">
  <ul>
    <li>Call MSU: <span class="msu-phone"><strong>(517) 355-1855</strong></span></li>
    <li>Visit: <strong><a href="http://msu.edu">msu.edu</a></strong></li>
    <li>MSU is an affirmative-action, equal-opportunity employer.</li>
    <li><a href="http://oie.msu.edu/"><strong>Notice of Nondiscrimination</strong></a></li>
  </ul>
</nav>
